<section class="jumbotron m-auto w-85 mb-4 text-center">
    <h1>Welcome to Askinator</h1>
    <p>Ask somebody what you want and see their answer.</p>
    <div><img src="user.png" alt="user"></div>
    <a href="#/register" class="btn btn-primary mt-3 p-3 text-uppercase">Sign in</a>
</section>