<section>
    <div class="text-center">
        <h2>My Messages</h2>
        <p>All messages: {{messagesCount}}</p>
    </div>
    <section id="listAllMessages">
        {{#if messages}}
            {{#each messages}}
                {{> message}}
            {{/each}}
        {{else}}
            <p class="text-center">No messages yet</p>
        {{/if}}
    </section>
</section>
