<section class="jumbotron ml-3 mr-3 text-center">
    <h1 class="mb-2">My Profile</h1>
    <div class="row">
        <div class="col-lg-5">
            <img src="profilePicture.png" alt="" class="w-50 mb-3">
        </div>
        <div class="col-lg-6">
            <div class="col">
                <label class="col-lg-12">
                    <h4>First name: {{firstName}}</h4>
                </label>
                <label class="col-lg-12">
                    <h4>Last name: {{lastName}}</h4>
                </label>
                <label class="col-lg-12">
                    <h4>Username: {{username}}</h4>
                </label>
                <label class="col-lg-12">
                    <h4>Email: {{email}}</h4>
                </label>
            </div>
        </div>
    </div>
</section>