@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    font-family: 'Pacifico', cursive;
    background: #f4b541;
    color: #2E4365;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 60px;
}
#secretNum{
    position: relative;
    left: -9999px;
    top: -9999px;
    display: none;
}
#bull{
    width: 21em;
    display: inline-block;
    float: left;
    margin-left: 2em;
    position: relative;
    bottom: 15em;
    left: 1em;
}
#cow{
    width: 19em;
    float: right;
    margin-right: 2em;
    margin-top: 0em;
    position: relative;
    bottom: 7em;
    left: -1em;
}
.btns{
    background: #395EA5;
    color: white;
    width: 14em;
    height: 4em;
    font-size: 13px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    box-shadow: 10px 10px 23px -8px rgba(11,48,87,1);
}
textarea{
    position: relative;
    right: 32em;
    bottom: 3em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid;
    color: #2E4365;
    box-shadow: 10px 10px 23px -8px rgba(11,48,87,1);
    font-weight: bold;
}
#cowsAndBulls{
    display: inline-block;
    position: relative;
    top: 9em;
    left: 1em;
}
span{
    font-size: 50px;
}
.inputType{
    width: 38px;
    height: 27px;
    border: 2px solid #2E4365;
    border-radius: 17px;
    font-weight: bold;
}
#checkNum{
    display: flex;
    flex-flow: column;
    width: 14%;
    position: relative;
    left: 30em;
    top: 9em;
}
#yourNum{
    width: 20em;
    height: 3em;
    padding-left: 15px;
    border: 2px solid #2E4365;
    border-radius: 8px;
    position: relative;
    right: -1em;
    bottom: 7em;
}
#win, #surrender{
    background: #395EA5;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    width: 38%;
}
#bonus{
    display: inline-flex;
    flex-flow: column;
    position: relative;
    left: 22em;
    top: 1em;
}
#win, #surrender, #new-game{
    display: none;
}
#new-game, #start, #yourNum, surrenderBtn{
    margin: 0 auto;
}
#play{
    position: relative;
    left: -6em;
    bottom: 3em;
}
#win{
    position: relative;
    bottom: 23em;
    font-size: 25px;
    left: 17em;
}
#surrender{
    font-size: 25px;
    position: relative;
    bottom: 23em;
    right: 19em;
}
#btnsClass{
    display: flex;
}
#surrenderBtn{
    display: inline-block;
    position: relative;
    bottom: 7em;
    right: -13em;
}