@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
    font-family: 'Comfortaa', cursive;
}
main{
    width: 85%;
}

section{
    margin-bottom: 2em;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}