<div class="bg-secondary p-3 ml-3 mr-3 mb-1 rounded border border-white">
    <h4>{{rank}}. {{username}}
        <span class="float-right">
            <a href="#/profile/:{{_id}}" class="btn btn-outline-dark">DETAILS</a>
        </span>
    </h4>
</div>