<section class="jumbotron bg-light text-dark text-center m-auto w-85 mb-4">
    <h2 class="ml-5">Login</h2>
    <form class="ml-5 text-center" method="post" action="#/login">
        <div class="form-group col-md-3 m-md-auto demo">
            <label for="exampleInputUsername">Username:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user text-white"></i></div>
                <input type="text" class="form-control" name="username" id="exampleInputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group col-md-3 m-md-auto demo">
            <label for="exampleInputPassword1">Password:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock text-white"></i></div>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="d-block">
            <button type="submit" class="btn btn-primary p-md-3 ml-5 mt-2 m-auto text-uppercase h5">Submit</button>
        </div>
    </form>
</section>