<section class="jumbotron bg-light text-dark m-auto w-85 mb-4">
    <h2 class="text-center">Register</h2>
    <form class="row w-75 m-auto" method="post" action="#/register">
        <div class="form-group col-md-6">
            <label for="exampleInputUsername">Username:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user text-white"></i></div>
                <input type="text" class="form-control" name="username" id="exampleInputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Email address:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-envelope text-white"></i></div>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="examplefirstname">First Name:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle text-white"></i></div>
                <input type="text" class="form-control" name="firstName" id="examplefirstname" placeholder="Enter First Name">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputlastname">Last Name:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle text-white"></i></div>
                <input type="text" class="form-control" name="lastName" id="exampleInputlastname" placeholder="Enter Last Name">
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Password:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock text-white"></i></div>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword2">Repeat Password:</label>
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock text-white"></i></div>
                <input type="password" class="form-control" name="repeatPass" id="exampleInputPassword2" placeholder="Repeat Password">
            </div>
        </div>
        <div class="d-block m-auto">
            <button type="submit" class="btn btn-primary p-md-3 mt-5 text-uppercase h5">Submit</button>
        </div>
    </form>
</section>