@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    font-family: 'Pacifico', cursive;
    background: #f4b541;
    color: #2E4365;
    text-align: center;
}
#firstSection{
    margin-right: 16em;
}
#back-btn{
    width: 12%;
    float: right;
    margin: 62px -7em -18em;
}
.btns:hover{
    color: #4758A3;
    background: white;
    border: 2px solid #4758A3;
}
a{
    text-decoration: none;
    color: white;
    padding: 2em;
}
#back-btn:hover a{
    color: #4758A3;
}
.nameI{
    margin: 1em;
    height: 28px;
    border-radius: 6px;
    border: 2px solid #395EA5;
    padding: 2px;
}

#secondSection, #thirdSection{
    display: flex;
    margin-left: 7em;
    margin-top: 2em;
}

#firstSection h1{
    text-align: center;
    font-size: 51px;
    display: inline-block;
    margin-left: 4em;
}
img{
    width: 30%;
    height: 257px;
    margin: 0 5em;
}
#secondSection{
    position: relative;
    right: 7em;
}
#cow{
    margin-left: 12em;
}
.btns{
    background: #395EA5;
    color: white;
    width: 14em;
    height: 4em;
    font-size: 13px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    box-shadow: 10px 10px 23px -8px rgba(11,48,87,1);
}
#checkNum {
    display: flex;
    flex-flow: column;
    width: 14%;
}
#yourNum{
    width: 20em;
    height: 3em;
    padding-left: 15px;
    border: 2px solid #2E4365;
    border-radius: 8px;
    margin-bottom: 3em;
    margin-top: 3em;
    position: relative;
    right: 2em;
}
#secretNum{
    position: relative;
    left: -9999px;
    top: -9999px;
    display: none;
}
#new-game{
    display: none;
    position: relative;
    left: 2em;
}
#start{
    position: relative;
    right: -2em;
}
#buttonsCl button{
    display: inline-block;
    margin: 10px;
}
textarea{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid;
    color: #2E4365;
    box-shadow: 10px 10px 23px -8px rgba(11,48,87,1);
    font-weight: bold;
    position: relative;
    bottom: 4em;
    text-align: center;
    padding: 3px 0;
}
#thirdSection p{
    background: rgb(57, 94, 165);
    color: white;
    border: 3px solid;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    width: 27em;
    bottom: 30em;
    left: 1em;
    display: none;
}
#close{
    margin-top: 10px;
}
#buttonsCl button:nth-child(3){
    margin-left: 2em;
}
span{
    font-size: 50px;
}
.inputType{
    width: 38px;
    height: 27px;
    border: 2px solid #2E4365;
    border-radius: 17px;
    font-weight: bold;
    text-align: center;
}

#play, #surrenderBtn{
    position: relative;
    left: 1em;
}
footer{
    text-align: center;
    padding: 10px;
}
#surrenderBtn {
    display: none;
}