<div class="alert alert-warning m-2 font-weight-bold" role="alert">
    <strong><i class="fas fa-exclamation-circle mr-2"></i></strong>
    {{content}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span class="alert-x p-1 h4 font-weight-bold" aria-hidden="true">&times;</span>
    </button>
</div>