<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand logo font-weight-bold ml-3" href="#" id="logo">Quizar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav m-auto text-center">
                <li class="nav-item row">
                    <i class="fas fa-gamepad mt-2 ml-5 mr-1"></i>
                    <a class="nav-link mr-4" href="#">Започни игра</a>
                </li>
                <li class="nav-item row ml-4 mr-4">
                    <i class="fas fa-comment mt-2 ml-5 mr-1"></i>
                    <a class="nav-link mr-4" href="#">Чат стая</a>
                </li>
            </ul>
        </div>
        <div class="profile-icon text-white row">
            <div class="m-auto row">
                <p class="ml-1 mt-3 mr-3 h5 font-weight-bold">Здравей, {{username}}!</p>
                <i class="fas fa-user-circle h1 mr-5" id="my-profile-icon"></i>
            </div>
        </div>
    </nav>
</header>