@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

#logo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}
*{
    font-family: 'Comfortaa', cursive;
}

.bg-light-green{
    background-color: #16DDBA;
}

.light-green{
    color: #16DDBA;
}
.profile-icon{
    cursor: pointer;
}

.menu{
    background-color: #091123;
    border-radius: 7px;
    border: 2px solid white;
}
.icon{
    font-size: 20px;
}
#my-profile-div{
    display: none;
    position: absolute;
    top: 75px;
    right:0;
}
.menu-profile-link:hover{
    font-weight: bold;
}
#menu-arrow-collapse{
    cursor: pointer;
    font-size: 2em;
}
.w-85{
    width: 85%;
}
.dark-green{
    background-color: #16DDBA;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #C7EEAC;
    border-color: #c3e6cb;
}
.alert-x{
    color: black;
}
.alert-danger {
    color: #721c24;
    background-color: #E46E67;
    border-color: #721c24;
}
.alert-warning {
    color: #856404;
    background-color: #F7ED91;
    border-color: #ffeeba;
}
.text-size-13{
    font-size: 13px;
}
.display-none{
    display: none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}