{{> navigation}}
<section class="jumbotron rounded border w-85 mx-auto mt-4">
    <h2 class="text-center pb-3">Register</h2>
    <form action="" method="post">
        <div class="row offset-lg-1">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Enter first name:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <input type="text" class="form-control" id="firstnameInput" placeholder="First name...">
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Enter last name:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <input type="text" class="form-control" id="lastnameInput" placeholder="Last name...">
                </div>
            </div>
        </div>
        <div class="row offset-lg-1">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Enter username:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user text-white"></i></div>
                    </div>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Username...">
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Enter e-mail:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                    </div>
                    <input type="email" class="form-control" id="emailInput" placeholder="E-mail...">
                </div>
            </div>
        </div>
        <div class="row offset-lg-1 mb-2">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Роля:</p>
                <select class="custom-select" id="role">
                    <option value="student" selected>Ученик</option>
                    <option value="teacher">Учител</option>
                </select>
            </div>
            <div class="col-lg-5" id="class-menu">
                <p class="d-inline-block mb-1 text-dark">Клас:</p>
                <select class="custom-select" id="grade">
                    <option value="5">5 клас</option>
                    <option value="6">6 клас</option>
                    <option value="7">7 клас</option>
                    <option value="8" selected>8 клас</option>
                    <option value="9">9 клас</option>
                    <option value="10">10 клас</option>
                    <option value="11">11 клас</option>
                    <option value="12">12 клас</option>
                </select>
            </div>
            <div class="col-lg-5 display-none" id="subject-menu">
                <p class="d-inline-block mb-1 text-dark">Предмет:</p>
                <select class="custom-select" id="subject">
                    <option value="bulgarian">Български език и литература</option>
                    <option value="english">Английски език</option>
                    <option value="german">Немски език</option>
                    <option value="russian">Руски език</option>
                    <option value="maths" selected>Математика</option>
                    <option value="informatics">Информатика</option>
                    <option value="technologies">Информационни технологии</option>
                    <option value="history">История</option>
                    <option value="geography">География</option>
                    <option value="psychology">Психология и логика</option>
                    <option value="biologie">Биология</option>
                    <option value="physics">Физика и астрономия</option>
                    <option value="physics">Философия</option>
                    <option value="science">Химия и опазване на околната среда</option>
                    <option value="music">Музика</option>
                    <option value="world-and-personality">Свят и личност</option>
                    <option value="art">Изобразително изкуство</option>
                    <option value="sport">Физическо възпитание и спорт</option>
                </select>
            </div>
        </div>
        <div class="row offset-lg-1">
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Enter your password:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password...">
                </div>
            </div>
            <div class="col-lg-5">
                <p class="d-inline-block mb-1 text-dark">Repeat your password:</p>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" id="repeatedPasswordInput" placeholder="Repeated password...">
                </div>
            </div>
        </div>
        <div class="d-block text-center">
            <input type="submit" class="btn btn-outline-info p-3 m-3 mx-auto" value="SUBMIT">
            <p class="mt-2">Already have an account? <a href="#" class="btn btn-info p-2 ml-2">Sign In</a></p>
        </div>
    </form>
</section>