@media all and (min-width: 300px) and (max-width: 640px) {
    #web-design-text, #production-text {
        right: 4em;
    }

    #first-p, #third-p {
        left: 20px;
    }
}
@media all and (max-width: 433px){
    #first-p{
        bottom: 50px;
    }
    #third-p{
        bottom: 30px;
    }
    #second-p{
        top: 25px;
    }
    #branding-text{
        left: 2em;
    }
}
@media all and (min-width: 641px) and (max-width: 900px){
    #first-p, #third-p {
        left: 30px;
    }
    #web-design-text, #production-text {
        right: 3em;
    }
}
@media all and (min-width: 411px) and (max-width: 600px){
    #second-p{
        left: -60px;
    }
}
@media all and (max-width: 410px) {
    #second-p {
        bottom: 50px;
        left: -60px;
    }
}