<section class="jumbotron ml-3 mr-3 text-center">
    <img src="profilePicture.png" alt="" class="mb-3" id="pictureUser">
    <h2>{{user}}</h2>
    <form method="post" action="#/askQuestion/{{id}}" class="col">
        <textarea name="question" id="questionTextarea" cols="30" rows="10"></textarea>
        <div>
            <button type="submit" class="btn btn-outline-dark p-2">ASK</button>
        </div>
    </form>
</section>
