<div class="bg-secondary p-3 ml-3 mr-3 mb-1 rounded border border-white">
    <p>{{rank}}. {{content}} <span class="float-right">{{date}} ago</span></p>
    <hr class="bg-white">
    <div>{{answer}}</div>
</div>